@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Hind:wght@500&family=Roboto:ital,wght@0,500;1,400&display=swap');

*{
    box-sizing: border-box;
}


/*SECCION HEADER*/

header{
    position: fixed;
    text-align: center;
    height: 7vh;
    padding-top: 12px;
    background-color: #ededed;
    width: 100%; 
    
}
header picture img{
    display: none;
}

header a{
    padding: 5px;
    text-decoration: none; 
    color: black;
    font-family: 'Bebas Neue', sans-serif; 
}

header a:hover{
    color: #fff;
    background-color: black;
    border-radius: 100%;
}

/*SECCION CUERPO CON ETIQUETAS PADRE*/
body{
    font-family: 'Bebas Neue', sans-serif;
    /*font-family: 'Hind', sans-serif;
    font-family: 'Roboto', sans-serif;*/
    margin: 0;
    background-color: #ededed;
}

.container{
    
    
    align-items: center;
   
    justify-items: center;
}





/*SECCION SAMSUNG*/
#samsung{
    padding: 20px;
    height: 70vh;
    background-color: #fff;
}


.video{
    width: 450px;
}


/*SECCION PRESENTACION*/
#presentacion{
    padding: 20px;
    height: 210vh;
}

.img-1{
    width: 300px;
    height: 300px;
    margin-left: 80px;
    margin-top: 1px;
    border: 1px solid #bebbbb;
}
ul {
   list-style-type: none;
}


/*SECCION CARACTERISTICAS*/
#caracteristicas{
    padding: 20px;
    height: 100vh;
    background-color: #fff;
}
/*SECCION CONTACTO*/
#contacto{
    text-align: center;
    padding: 20px;
    height: 25vh;
    
}
a img {
    border-radius: 55%;
    margin: 10px;
    
}

/*PIE DE PAGINA*/
footer{
    text-align: center;
    padding: 20px;
    background-color: #fff;
}

@media (min-width: 850px){

    /*SECCION HEADER*/

   header{
    padding-top: 0px;
    height: 10vh;
   

   }
   
    header .nav{
        flex-direction: column;
        
    }

    header picture img {
        display: block;
        
       padding-top: 10px;
       padding-left: 10px;
        
    
       
    
    }
    


}